body {
    font-family: Verdana, sans-serif;
    color: black;
    font-size: large;
    padding: 0px;
    margin: 0px;
}

h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    color: #3a5ae9;
    border-bottom: thick dotted #3a5ae9;
}

nav ul {
    margin: 0px;
    padding: 0px 10px;
    background-color: #d0faf6;
    color: #3a5ae9;
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 0px 10px;
    border-right: thin dotted black;
}

nav ul li a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #3a5ae9;
    font-weight: bold;
}

a:hover {
    background-color: #ff9600;
}

.table {
    display: table;
    border-spacing: 0px;
    padding: 20px 10px 0px 10px;
    margin: 0px;
}

.tableRow {
    display: table-row;
    padding: 0px;
    margin: 0px;
}

section.introduction,
section.songs,
section.photos,
section.UnderThePower,
section.TheGloryOfTangDynasty,
div#WenJiContent,
div#WenJiImage {
    display: table-cell;
    vertical-align: top;
}
section.introduction {
    margin: auto;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 0px;
    line-height: 1.5em;
}

section.introduction h2 {
    color: #3a5ae9;
}

p {
    text-indent: 2em;
    padding: 0px;
    margin: 0px;
}
p.bold {
    font-weight: 600;
    font-size: 1.5em;
}
p.content {
    text-indent: 2em;
}

h2 {
    padding: 5px;
    margin: 5px;
    color: #3a5ae9;
}

section.songs {
    padding-right: 100px;
    font-size: 1.6em;
    line-height: 1.6em;
}

section.photos {
    margin-left: 10px;
    margin-bottom: 0px;
    float: right;
}

section.UnderThePower {
    width: 50%;
    padding-left: 10px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 10px;
}

section.TheGloryOfTangDynasty {
    width: 50%;
    padding-right: 10px;
    padding: 0px 10px 0px 0px;
    margin: 0px 10px 0px 0px;
}

img#DaTangRongYao, img#JinYiZhiXia{
    padding: 5px;
    margin: 5px;
}
video {
    text-align: center;
}
div#WenJiContent {
    margin: 50px;
    width: 70%;
}
img#wenji{
    border: 5px #ebe724 solid;
}